.brand-icon
{
    padding: 0 20px;
}

.brand-name
{
    font-weight: 550;
}

.nav-link
{
    margin-left: 250px;
}

.section-users
{
    background: #1e1919;
    color: f7f5f2;
}

nav span
{
    color:#1e1919;
    padding: 10px;
}

.nav ul li a 
{
    color:#1e1919;
}

.brand-name
{
    font-weight: 550;
}

.nav-link
{
    margin-left: 250px;
}


